/* parent gets flex */
header {
    display: flex;
    flex-wrap: wrap;
}
header h3{
    width: 50%;
}
header p {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hide {
    display: none;
}
#intro-section, #question-section, #initial-section, #highscore-section {
    text-align: center;
    list-style-type: none;
}
/* ul level for li  */
#question-section ul {
    list-style-type: none;
}
#highscore-section ol {
    /* list-style: none; */
    list-style-position: inside;
    padding-left: 0;
}
