/* parent gets flex */
header {
    display: flex;
    flex-wrap: wrap;
}
header h3{
    width: 50%;
}
header p {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
/* p label {

} */

.q1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .hidden {
    display: none;
} */